<fieldset>
  <legend>Create an account</legend>

  <%= f.input :email, required: true, autofocus: true %>

</fieldset>


<fieldset>
  <legend>Your contact information</legend>

  <% profile = f.object.profile %>

  <%= f.input :name, required: true do %>
    <div class="controls-row controls-row-last">
      <%= f.input_field :first_name, placeholder: 'First name', class: 'span2' %>
      <%= f.input_field :last_name, placeholder: 'Last name', class: 'span2' %>
    </div>
  <% end %>

  <%= f.input :primary_phone, required: true do %>
    <div class="controls-row controls-row-last">
      <%= f.select :primary_phone_type, profile.enums(:primary_phone_type).select_options, { prompt: 'Type' }, class: 'input-small' %>
      <%= f.input_field :primary_phone_number, placeholder: '(555) 123-9876', value: display_phone(f.object.primary_phone_number), class: 'input-medium' %>
    </div>
  <% end %>

  <%= f.input :alternate_phone, required: false do %>
    <div class="controls-row controls-row-last">
      <%= f.select :alternate_phone_type, profile.enums(:alternate_phone_type).select_options, { prompt: 'Type' }, class: 'input-small' %>
      <%= f.input_field :alternate_phone_number, placeholder: '(555) 123-9876', value: display_phone(f.object.alternate_phone_number), class: 'input-medium' %>
    </div>
  <% end %>
</fieldset>

