<%= simple_form_for event, url: url, html: { class: "form-horizontal" } do |f| %>
  <% unless @program.nil? %>
    <%= f.input :program_id, as: :hidden, input_html: {value: @program.id} %>
  <% end %>
  <%= f.association :program unless @program %>
  <%= f.input :name %>
  <%= f.input :starts_at, as: :datetime_picker, placeholder: "dd/mm/yyyy hh:mm pp", input_html: { class: "input-medium" } %>
  <%= f.input :venue %>
  <%= f.input :address, required: true do %>
    <div class="controls-row">
      <%= f.input_field :street, placeholder: "Street", class: "span5" %>
    </div>
    <div class="controls-row">
      <%= f.input_field :city, placeholder: "City", class: "span2" %>
      <%= f.input_field :state, collection: us_states, class: "span2" %>
      <%= f.input_field :zip, placeholder: "Zip", class: "span1" %>
    </div>
  <% end %>

  <fieldset>
    <legend>Logistics</legend>
    <%= f.input :participant_limit, input_html: {class: "input-mini"} %>
    <%= f.input :setup_at, as: :datetime_picker, placeholder: "dd/mm/yyyy hh:mm pp", input_html: { class: "input-medium" } %>
    <%= f.input :teardown_at, as: :datetime_picker, placeholder: "dd/mm/yyyy hh:mm pp", input_html: { class: "input-medium" } %>
  </fieldset>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
