<h2><%= @event.name %></h2>

<dl class="dl-horizontal">
  <dt>When:</dt>
  <dd><%= l @event.starts_at %></dd>

  <dt>Where:</dt>
  <dd>
    <%= @event.venue %><br>
    <%= @event.street %><br>
    <%= @event.city %>, <%= @event.state %> <%= @event.zip %>
  </dd>
</dl>

<h3>Logistics</h3>

<dl class="dl-horizontal">
  <dt>Participant Limit:</dt>
  <dd><%= @event.participant_limit %></dd>

  <% if @event.setup_at.present? %>
    <dt>Setup at:</dt>
    <dd><%= l @event.setup_at %></dd>
  <% end %>

  <% if @event.teardown_at.present? %>
    <dt>Teardown at:</dt>
    <dd><%= l @event.teardown_at %></dd>
  <% end %>
</dl>

<%= link_to "<- Back", admin_events_path(@program) %> |
<%= link_to "Edit", edit_admin_event_path(@program, @event) %> |
<%= link_to "Delete", admin_event_path(@program, @event), method: :delete, confirm: "Are you sure?" %>