


<div class="row">
  <div class="span4">
    <ul class="nav nav-tabs">
      <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <li class="active"><%= link_to "Sign In", new_user_session_path %></li>
    </ul>

    <p>
      Login using your Google account:
    </p>

    <div class="center">
      <%= link_to user_omniauth_authorize_path(:google_oauth2, origin: session[:user_return_to]) do %>
        <%= image_tag "Red-signin_Long_base_44dp.png",
                      mouseover: "Red-signin_Long_hover_44dp.png",
                      alt: "Sign in with Google" %>
      <% end %>
    </div>

    <h4 class="center"> Or </h4>

    <hr>
    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email, :required => false, :autofocus => true %>
        <%= f.input :password, :required => false %>
        <%= f.input :remember_me, :as => :boolean, label: false, inline_label: true if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign in", class: "btn-primary" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>

  </div>
  <div class="offset1 span6">
    <h1>Sign in</h1>
    <p>
      If you already have an account with Google, you can sign in using the
      button to the left. Otherwise, if you created an account with us, enter
      your email and password to continue.
    </p>
    <p>
      Don't have a Google account or never registered with our site before? You
      can <%= link_to "sign up", new_registration_path(resource_name) %> for a
      new account to get started.
    </p>
  </div>
</div>
