<h1>Become a Volunteer!</h1>

<div class="row">
  <div class="span8">
    <p class="lead">There are numerous way for you to join the fun</p>
    <p>
      <%= virginia_first %> relies on the help of volunteers to support all of our
      programs, assist at our events and competitions, and plan for our future. From
      administrative help and writers to field attendants and media relations, our
      volunteers have a broad spectrum of talents. VirginiaFIRST's programs,
      operations, and competitions don't happen without hundreds of people just like
      you.
    </p>
    <br>
    <p class="center">
      <%= link_to "Register for an event", volunteer_registration_path(return_to: volunteer_registration_path), class: "btn btn-large btn-success" %>
    </p>
  </div>

  <div class="offset1 span3">
    <% event = @upcoming_events.first %>

    <% if event %>
      <h2>Next event</h2>
      <div class="<%= event.program.code %>-border">
        <h3><%= event.name %></h3>
        <p>
          <%= event.program.name %><br>
          <%= l event.starts_at, format: :date %><br>
          <%= display_location event %>
        </p>
      </div>
    <% else %>
      <p class="lead"> There are no upcoming events. Check back later. </p>

      <p>
        Are you looking for an FRC event, like the Virginia Regional? You'll need to register at
        <%= first %>'s <%= link_to "Volunteer Information & Matching System", "https://my.usfirst.org/vims/‎" %>.
      </p>
    <% end %>
  </div>
</div>

<hr>

<div class="row section">
  <div class="span4">
    <h2 class="center">Support<br>an event</h2>
  </div>
  <div class="span8">
    <p>
      Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
      suscipit lobortis nisl ut aliquip ex ea commodo consequat. Ut wisi enim ad
      minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
      ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer
      adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
      magna aliquam erat volutpat. Stet clita kasd gubergren, no sea takimata
      sanctus est Lorem ipsum dolor sit amet.
    </p>
    <p>
      <%= link_to "Learn more", "#" %>
    </p>
  </div>
</div>

<hr>

<div class="row section">
  <div class="span8">
    <p>
      Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
      suscipit lobortis nisl ut aliquip ex ea commodo consequat. Ut wisi enim ad
      minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
      ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer
      adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
      magna aliquam erat volutpat. Stet clita kasd gubergren, no sea takimata
      sanctus est Lorem ipsum dolor sit amet.
    </p>
  </div>
  <div class="offset4">
    <h2 class="center">Mentor<br>a team</h2>
  </div>
</div>

<hr>

<div class="section">
  <h2 class="center"><%= link_to "Sign up", volunteer_registration_path %> today to get started</h2>
</div>
