
<h1>Volunteer Registration is open</h1>

<p>
  The new 2014-15 FTC CASCADE EFFECT season is in full swing.
  <%= virginia_first %> needs your help to make
  these competitions a success by volunteering to support our events.
</p>

<p>
  Volunteer registration for official <%= first %> events are managed in the
  <%= link_to 'Volunteer Information & Matching System',
              'https://my.usfirst.org/vims/' %>
  for both FTC and FRC this season. In order to volunteer for any of these
  events you must register online using
  <%= link_to 'VIMS', 'https://my.usfirst.org/vims/' %>. To learn more about
  how VIMS works and how to sign up, you can read the
  <%= link_to 'documentation',
              'https://my.usfirst.org//FIRSTPortal/VIMS/VIMSUserGuideJune2014.pdf' %>.
</p>

<div class="row">
  <div class="offset2 span4 center">
    <% frc = FirstProgram[:frc] %>
    <%= link_to "https://my.usfirst.org/vims/" do %>
      <%= image_tag frc.flag.medium, alt: frc.name %>
    <% end %>
  </div>

  <div class="span4 center">
    <% ftc = FirstProgram[:ftc] %>
    <%= link_to "https://my.usfirst.org/vims/" do %>
      <%= image_tag ftc.flag.medium, alt: ftc.name %>
    <% end %>
  </div>
</div>

<br>

<div class="row">
  <div class="span12">
    <div class="row section">
      <div class="span3">
        <h2 class="center">
          <%= link_to volunteer_home_path do %>
            Support<br>an event
          <% end %>
        </h2>
      </div>
      <div class="span9">
        <p>
          <%= virginia_first %> organizes events throughout the state of Virginia
          to inspire young people, from workshops to competitions. None of which
          would be successful without the support of our volunteers.
        </p>
        <p>
          Volunteers come from a wide variety of backgrounds
          and skills. You don't have to be a rocket science to help out.
          <%= link_to "Learn more", volunteer_home_path %> about our volunteer
          opportunities
        </p>
      </div>
    </div>

    <hr>

    <div class="row section">
      <div class="span9">
        <p>
          Mentors are the keystone of <%= first %> programs, using technical
          and non-technical experience to inspire students.
          <%= link_to "Learn more", mentor_home_path %> about mentoring a
          <%= first %> team.
        </p>
        <p>
          Looking for mentoring opportunities in Virginia? Sign up today and
          <%= virginia_first %> will connect you with a team in need.
        </p>
      </div>
      <div class="span3">
        <h2 class="center">
          <%= link_to mentor_home_path do %>
            Mentor<br>a team
          <% end %>
        </h2>
      </div>
    </div>
  </div>
</div>
