<div class="row">
  <div class="span5">
    <h3>Key Positions</h3>
    <%= render @event.key_positions %>
  </div>

  <div class="span5">
    <h3>Regular Positions</h3>
    <%= render @event.regular_positions %>
  </div>

  <div class="span2">
    <h3> Unassigned
      (<span id="unassigned_count"><%= @event.unassigned_volunteers.count %></span>)
    </h3>

    <p>
      <% @event.unassigned_volunteers.each do |volunteer| %>
        <% if volunteer.profile %>
        <span id="unassigned_volunteer_<%= volunteer.id %>">
          <%= link_to_if can?(:read, volunteer), volunteer.full_name, volunteer.profile %><br>
        </span>
        <% end %>
      <% end %>
    </p>
  </div>
</div>
