<% content_for :content do %>
  <div class="row">
    <div class="span3">
      <ul class="nav nav-list">
        <li class="<%= active_class?("accounts")%>">
          <%= link_to "Account Settings", edit_account_path %>
        </li>
        <li class="<%= active_class?("profiles")%>">
           <%= link_to "Profile", edit_personal_profile_path %>

          <ul class="nav nav-list">
            <li class="<%= active_profile_section?("personal") %>">
              <%= link_to "Personal Information", edit_personal_profile_path %>
            </li>
            <li class="<%= active_profile_section?("background") %>">
              <%= link_to "Background Skills", edit_background_profile_path %>
            </li>
            <li class="<%= active_profile_section?("experience") %>">
              <%= link_to edit_experience_profile_path do %>
                <%= first %> Experience
              <% end %>
            </li>
            <li class="<%= active_profile_section?("volunteer") %>">
              <%= link_to "Volunteer Preferences", edit_volunteer_profile_path %>
            </li>
            <li class="<%= active_profile_section?("mentor") %>">
              <%= link_to "Mentor Preferences", edit_mentor_profile_path %>
            </li>
          </ul>
        </li>
        <li class="<%= active_class?("registrations") %>">
          <%= link_to "My Events", my_events_path, class: "nav-list-bottom" %>
        </li>
      </ul>
    </div>
    <div class="span9">
      <%= yield %>
    </div>
  </div>
<% end -%>

<%= render file: 'layouts/application' %>
