<% content_for :content do %>
  <div class="row">
    <div class="span3">
      <div class="menu-logo">
        <%= image_tag "VirginiaFIRST_logo.png", alt: "VirginiaFIRST", width: "150px" %>
      </div>
      <ul class="menu">
        <li class="section">
          <span class="section-header">Administration</span>
          <ul class="nav nav-tabs nav-stacked">
            <li class="<%= active_class?("games") %>">
              <%= link_to "Games", "#" %>
            </li>
            <li class="<%= active_class?("events") %>">
              <%= link_to "Events", admin_events_path(@program) %>
            </li>
            <li class="<%= active_class?("skills") %>">
              <%= link_to "Background Skills", admin_skills_path %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="span9">
      <h1><%= @program %></h1>
      <%= yield %>
    </div>
  </div>
<% end -%>

<%= render file: 'layouts/application' %>
