<!DOCTYPE html>
<html>
<head>
  <title>VirginiaFIRST</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "print", :media => "print" %>
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_BROWSER_KEY"] %>&sensor=false">
  </script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= @program.code if @program.present? %> <%= controller_name %>">

<div id="wrapper">

<div class="container">

<div id="header">
  <% unless current_user %>
    <div class="header-actions">
      <%= link_to "Sign up", new_registration_path(User), class: "btn btn-success" %>
      <%= link_to "Sign in", new_user_session_path, class: "btn" %>
    </div>
  <% end %>
  <div id="logo">
    <%= image_tag "VirginiaFIRST_cogs.png", alt: "VirginiaFIRST", id: "logo_cogs" %>
    <%= image_tag "VirginiaFIRST_text.png", alt: "VirginiaFIRST", id: "logo_text" %>
  </div>
  <ul class="nav nav-top">
    <% if current_user %>
      <li> <%= link_to "Register", new_volunteer_registration_path %> </li>
      <% if can? :read, Event %>
        <li> <%= link_to "Events", events_path(@program) %> </li>
      <% end %>
      <% if current_user.is_superuser? %>
        <li> <%= link_to "Admin", admin_path %> </li>
      <% end %>
      <li> <%= link_to "My Account", account_path %> </li>
      <li> <%= link_to "Sign out", destroy_user_session_path, method: :delete %> </li>
    <% else %>
      <li> <%= link_to "Volunteer", volunteer_home_path %> </li>
      <li> <%= link_to "Mentor", mentor_home_path %> </li>
      <li> <%= link_to "FAQ", faq_home_path %> </li>
    <% end %>
  </ul>
  <div class="clearfix"></div>
</div>


<% if notice %>
  <p class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= notice %>
  </p>
<% end %>

<% if alert %>
  <p class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= alert %>
  </p>
<% end %>

<%= content_for?(:content) ? yield(:content) : yield %>

</div>
  <div id="footer-push"></div>
</div>
<div id="footer">
  <%= link_to "http://www.virginiafirst.org" do %>
    <%= image_tag "VirginiaFIRST_logo.png", alt: "VirginiaFIRST", class: "vafirst-logo" %>
  <% end %>

  <%= link_to "http://www.usfirst.org" do %>
    <%= image_tag "FIRSTvert_RGB.jpg", alt: "FIRST", class: "usfirst-logo" %>
  <% end %>

  <div class="tag">
    <p class="copyright">
      <%= t('copyright', year: Time.now.year, site_name: virginia_first).html_safe %>
    </p>
    <%= image_tag "TAG_RGB.jpg", alt: "For Inspiration and Recognition of Science and Technology" %>
  </div>
  <div class="clearfix"></div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-34770010-2', 'virginiafirst.org');
  ga('send', 'pageview');

</script>
</body>
</html>
