<% content_for :content do %>
  <h1><%= @event.name %></h1>

  <ul class="nav nav-tabs">
    <li class="<%= active_tab?('events') %>">
      <%= link_to 'Assignments', event_path(@program, @event) %>
    </li>
    <li class="<%= active_tab?('profiles') %>">
      <%= link_to 'Volunteers', event_profiles_path(@program, @event) %>
    </li>
    <li class="<%= active_tab?('check_in') %>">
      <%= link_to 'Check-In', event_check_in_index_path(@program, @event) %>
    </li>
    <li class="<%= active_tab?('email_blast') %>">
      <%= link_to 'Email Blast', event_email_blast_path(@program, @event) %>
    </li>
    <li class="dropdown <%= active_tab?('volunteer/reports') %>">
      <%= link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do %>
        Reports <b class="caret"></b>
      <% end %>
      <ul class="dropdown-menu">
        <li>
          <%= link_to 'Assignement Breakdown', event_volunteer_break_down_report_path(@program, @event) %>
        </li>
        <li>
          <%= link_to 'Check In Sheet', event_check_in_index_path(@program, @event, format: :pdf) %>
        </li>
        <li>
          <%= link_to 'Nametags', event_volunteer_nametags_report_path(@program, @event, format: :pdf) %>
        </li>
        <li>
          <%= link_to 'Shirts', event_volunteer_shirts_report_path(@program, @event) %>
        </li>
      </ul>
    </li>
  </ul>

  <%= yield %>
<% end %>

<%= render file: 'layouts/application' %>
